" Managed by ansible-playbooks (roles/vim). Prompts for a Conventional
" Commits type on a fresh commit message and validates the summary line.
if exists('b:did_ftplugin_conventional_commit')
  finish
endif
let b:did_ftplugin_conventional_commit = 1

let s:types = [
{% for t in vim_conventional_commit_types %}
      \ {'name': '{{ t.name }}', 'desc': '{{ t.description }}'}{{ ',' if not loop.last else '' }}
{% endfor %}
      \ ]

let s:pattern = '^\(' . join(map(copy(s:types), 'v:val.name'), '\|') . '\)\((.\{-}\))\?!\?: .\+'

function! s:IsFreshCommit() abort
  for l:lnum in range(1, line('$'))
    let l:line = getline(l:lnum)
    if l:line !~# '^\s*#' && l:line !~# '^\s*$'
      return 0
    endif
  endfor
  return 1
endfunction

function! s:PromptConventionalType() abort
  let l:choices = ['Select a conventional commit type:']
  for l:i in range(len(s:types))
    call add(l:choices, printf('%d. %-10s %s', l:i + 1, s:types[l:i].name, s:types[l:i].desc))
  endfor
  let l:idx = inputlist(l:choices)
  if l:idx < 1 || l:idx > len(s:types)
    return
  endif
  call setline(1, s:types[l:idx - 1].name . ': ')
  call cursor(1, len(s:types[l:idx - 1].name) + 3)
  startinsert!
endfunction

function! s:ValidateSummaryLine() abort
  if exists('w:conventional_commit_match_id')
    silent! call matchdelete(w:conventional_commit_match_id)
    unlet w:conventional_commit_match_id
  endif
  let l:summary = getline(1)
  if l:summary !~# '^\s*#' && l:summary !~# '^\s*$' && l:summary !~# s:pattern
    let w:conventional_commit_match_id = matchadd('ErrorMsg', '^\%1l.*')
  endif
endfunction

function! s:CheckBeforeWrite() abort
  let l:summary = getline(1)
  if l:summary =~# '^\s*#' || l:summary =~# '^\s*$' || l:summary =~# s:pattern
    return
  endif
  let l:choice = confirm("Summary line doesn't match Conventional Commits:\n" . l:summary, "&Save anyway\n&Cancel", 2)
  if l:choice != 1
    throw 'conventional_commit: aborting write, summary line is invalid'
  endif
endfunction

if s:IsFreshCommit()
  call s:PromptConventionalType()
endif

call s:ValidateSummaryLine()

augroup conventional_commit
  autocmd! * <buffer>
  autocmd TextChanged,TextChangedI,InsertLeave <buffer> call s:ValidateSummaryLine()
  autocmd BufWritePre <buffer> call s:CheckBeforeWrite()
augroup END
