---
- name: Add misc MacOS brew taps
  community.general.homebrew_tap:
    name: "{{ item }}"
    state: present
  loop: "{{ macos_brew_taps }}"
  register: brew_taps

- name: Install misc MacOS brew packages
  community.general.homebrew:
    name: "{{ macos_brew_packages }}"
    state: present
  when: brew_taps is not failed
  register: brew_packages

- name: Install misc MacOS casks
  # Certain apps are cask only, which requires the use of the 
  # community.general.homebrew_cask module.
  # Care should be taken to add casks to this list instead of the 
  # one above, as they are not technically interchangeable.
  community.general.homebrew_cask:
    name: "{{ macos_brew_casks }}"
    state: present
  register: brew_casks
