---
# tasks file for misc-packages

- name: Install misc MacOS brew packages
  community.general.homebrew:
    name: "{{ macos_brew_packages }}"
    state: present
  when: ansible_os_family == "Darwin"
  register: brew_packages
  tags:
  - packages

- name: Install misc MacOS casks
  # Certain apps are cask only, which requires the use of the 
  # community.general.homebrew_cask module.
  # Care should be taken to add casks to this list instead of the 
  # one above, as they are not technically interchangeable.
  community.general.homebrew_cask:
    name: "{{ macos_brew_casks }}"
    state: present
  when: ansible_os_family == "Darwin"
  register: brew_casks
  tags:
    - packages

- name: Install script-based packages
  ansible.builtin.include_tasks: script-packages.yml
  tags:
    - packages
