---
# tasks file for misc-packages

- name: Install macos homebrew packages
  ansible.builtin.include_tasks: brew_packages.yml
  when: ansible_os_family == "Darwin"


- name: Install script-based packages
  ansible.builtin.include_tasks: script-packages.yml
