---
# vars file for git
git_gitconfig:
  - name: alias.acp
    value: "{{ '!zsh ~/.oh-my-zsh/custom/scripts/git_acp.zsh' if git_acp_installed else '!git add .; git commit; git push' }}"
  - name: alias.ac
    value: "!git add .; git commit"
  - name: alias.gafp
    value: "!git add . && git commit --amend && git push --force"
  - name: alias.ca
    value: "!git checkout -b $(date +%Y%m%d-%H%M%S)"
  - name: alias.cab
    value: "!git checkout -b $(date +%Y%m%d-%H%M%S)"
  - name: alias.cb
    value: checkout -b
  - name: alias.unstash
    value: "!git stash apply; git stash drop"
  - name: credential.helper
    value: cache --timeout 28800
  - name: push.autoSetupRemote
    value: true
