Whenever the user asks to talk about a Github PR or Issue, please use GH CLI to view it.

If you create commits or PRs, always use conventional commit style:
- Always prefixed with "feat: ", "fix: ", "refactor: " etc.
- PR titles are always lowercase

When discussing Github PRs especially when posting comments or writing Markdown, always use the full PR URL, not the relative (#54) format.  We might be on a different repo, so the context could be wrong.
