---
# tasks file for git

- name: Install git
  ansible.builtin.package:
    name: git
    state: present

- name: Set git user.name
  community.general.git_config:
    name: user.name
    scope: global
    value: "{{ firstname | mandatory }} {{ lastname | mandatory }}"

- name: Set git user.email
  community.general.git_config:
    name: user.email
    scope: global
    value: "{{ email | mandatory }}"

- name: Set git config
  community.general.git_config:
    name: "{{ item.name }}"
    scope: global
    value: "{{ item.value }}"
  with_items: "{{ git_gitconfig }}"
