{#- Set up PATH using Jinja templating -#}
{#- Always include .local/bin -#}
{%- set path_entries = [homedir.stdout ~ '/.local/bin'] -%}

{#- Optionally add .tfswitch if enabled -#}
{%- if bun_install|default(false) -%}
    {#- Add bun to PATH if installed -#}
    {%- set _ = path_entries.insert(0, homedir.stdout ~ '/.bun/bin') -%}
{%- endif -%}
{%- if tfswitch_enabled|default(false) -%}
    {%- set _ = path_entries.append(homedir.stdout ~ '/.tfswitch') -%}
{%- endif -%}
{#- Export the constructed PATH #}
# PATH
export PATH="{{- path_entries | join(':') -}}:$PATH"

# Path to oh-my-zsh installation.
export ZSH="{{ homedir.stdout }}/.oh-my-zsh"

HIST_STAMPS="yyyy-mm-dd"
ZSH_THEME="half-life"

# Disable auto cd
unsetopt autocd

# Configuration of plugins
plugins=( {{ omz_plugin_list | join(" ") }} )
zstyle ':omz:plugins:nvm' autoload yes

# Autocompletions - Must precede sourcing omz
## Homebrew
FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

source $ZSH/oh-my-zsh.sh

export EDITOR=vim


# Color madness for iterm tabs, generate a new color per-tab
PRELINE="\r\033[A"

function random_color {
    echo -e "\033]6;1;bg;red;brightness;$((1 + $RANDOM % 255))\a"$PRELINE
    echo -e "\033]6;1;bg;green;brightness;$((1 + $RANDOM % 255))\a"$PRELINE
    echo -e "\033]6;1;bg;blue;brightness;$((1 + $RANDOM % 255))\a"$PRELINE
}

function color {
    case $1 in
    green)
    echo -e "\033]6;1;bg;red;brightness;57\a"$PRELINE
    echo -e "\033]6;1;bg;green;brightness;197\a"$PRELINE
    echo -e "\033]6;1;bg;blue;brightness;77\a"$PRELINE
    ;;
    red)
    echo -e "\033]6;1;bg;red;brightness;270\a"$PRELINE
    echo -e "\033]6;1;bg;green;brightness;60\a"$PRELINE
    echo -e "\033]6;1;bg;blue;brightness;83\a"$PRELINE
    ;;
    orange)
    echo -e "\033]6;1;bg;red;brightness;227\a"$PRELINE
    echo -e "\033]6;1;bg;green;brightness;143\a"$PRELINE
    echo -e "\033]6;1;bg;blue;brightness;10\a"$PRELINE
    ;;
    *)
    random_color
    esac
}
## Pick and assign the color to the tab on zsh launch
color


{% if bun_install  %}
# bun completions
[ -s "{{ homedir.stdout }}/.bun/_bun" ] && source "{{ homedir.stdout }}/.bun/_bun"

# bun
export BUN_INSTALL="{{ homedir.stdout }}/.bun"
{% endif %}
