
# Set Path
export PATH="{{ homedir.stdout }}/.local/bin:$PATH"

# Path to oh-my-zsh installation.
export ZSH="{{ homedir.stdout }}/.oh-my-zsh"

HIST_STAMPS="yyyy-mm-dd"

ZSH_THEME="half-life"

plugins=( {{ omz_plugin_list | join(" ") }} )

# Configuration of plugins
zstyle ':omz:plugins:nvm' autoload yes

source $ZSH/oh-my-zsh.sh

export EDITOR=vim
